*{
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body{
  /*background-color: #dab9d3;*/
  background-image: url(../img/pink-hearts.jpg);
  background-position:  center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.contenedor{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.contenido{
  width: 80%;
  height: auto;
	background: #ffffff;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.contenido .foto>img{
  width: 100%;
  margin: auto;
  padding-bottom: 10px;
  border-top-left-radius:10px;
	border-top-right-radius:10px;
}
.contenido .mensaje{
  text-align: center;
  padding-bottom: 10px;
}

.contenido .mensaje button a{
  text-decoration: none;
  color: rgb(199, 26, 26);
  border: rgb(199, 26, 26) solid 1px;
  border-radius: 5px;
  margin: 10px;
  padding: 0px 30px 0px 30px;
  font-size: 30px;
}
.contenido .mensaje a:hover{
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgb(199, 26, 26);
}
@media only screen and (max-width: 800px)  {
  .contenido .mensaje button a{
    font-size: 25px;
    font-weight: bold;
  }
  .title{
    font-size: 20px;
  }

}
/************  PREGUNTAS  **************/
.principal{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.menu{
  width: 90%;
  margin: auto;
}
.preguntas{
  width: 90%;
  background: #ffffff;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  padding: 0px 0px 30px 0px;
  margin: auto;
}
.preguntas h3{
  padding: 10px 0px 10px 0px;
}
.preguntas .compact{
  width: 90%;
  margin: auto;
}
.preguntas .compact i{
  margin: 10px;
}
.title{
  text-align: center;
  color: #e84170;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-bottom: 0px 0px 0px 0px;
}
.carta{
  width: 90%;
  background: #ffffff;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  padding: 0px 0px 30px 0px;
  margin: auto;
}
.carta h3{
  padding: 20px 20px;
}
.carta p{
  width: 90%;
  text-align: justify;
  margin: auto;
  padding-bottom: 10px;
}
.carta  .firma{
  padding-top: 30px;
  color: green;
}
.carta hr{
  width: 90%;
  margin: auto;
  height: 3px;
  margin-bottom: 20px;
  color: #e84170;
}
.carta i{
  text-align: center;
}

/************  UPDATE**********/

